.box {
  height: 100px;
  width: 200px;
  background: red;
  animation-name: change-bg-color;
  animation-duration: 5s;
  /* how long does the animation takes */
  animation-delay: 3s;
  /* how many second before the animation to start */


  animation-fill-mode: forwards;
  /* the animation remains to it's latest changed color */

  /* animation-iteration-count: 3; */
  /* no of times the animation should run */
}

@keyframes change-bg-color {
  from {
    background: red;
  }

  to {
    background: yellow;
  }
}

/* ################ To make the Line Grow ###################### */

.box2 {
  height: 100px;
  width: 50px;
  background: darkblue;
  /* border: 2px solid red; */
  animation-name: grow-width;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes grow-width {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}