.box {
  height: 100px;
  width: 100px;
  background: lightcoral;
  /* transition-property: background;
  transition-duration: 2s;
  transition-timing-function: ease-in-out; */

  /*  transition: background 2s ease-in-out, width 2s ease-in-out,
    height 2s ease-in-out; */
  transition: all 2s ease-in-out;
}

.box:hover {
  background: lightblue;
  width: 200px;
  height: 200px;
}