*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin: 1rem auto;
}

.box {
  max-width: 200px;
  margin: auto;
  position: relative;
}

.box img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: rgba(128, 128, 128, 0.555);
  color: #fff;
  padding: 0.5em 1.5em;
  margin-top: 0.2em;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: grey;
  box-shadow: 5px 5px 2px black;
}

.box-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.7em;
  text-align: center;
  opacity: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.box:hover .box-content {
  opacity: 1;
  left: 50%;
}

.box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  background: #0000009f;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s ease-in;
}

.box:hover::after {
  opacity: 1;
}