* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
  color: white;
  font-style: italic;
}

body {
  min-height: 100vh;
  background-image: url('../images/image2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  height: 1.9rem;
  width: 1.5rem;
  transform: skew(-10deg);
  /* this skews the image by 10 degrees along the X-axis.  */
  cursor: pointer;
}

h3 {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 5rem;
  text-align: center;
}

/*  *************utility class************* */
.nav-list {
  display: inline-block;
  padding-right: 1em;
}

.section {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.bg-black {
  background-color: black;
}

/* ############################# Container ######################## */
.container {
  display: grid;
  grid-template-rows: minmax(150px, auto) minmax(600px, auto) minmax(300px, auto);
}


/*  ********************************** Header *************************************** */
.header .navbar {
  font-style: italic;
  border: 4px solid white;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/*  left side of the navbar */
.header .navbar .logo {
  font-size: 5rem;
  padding-left: 0.2em;
  padding-top: 0.5em;

  /* shrinking */
  flex: 0 1 auto;
  min-width: 20px;
  transition: font-size 0.9s ease-in;
}

/*  right side of the navbar  */
.right-links {
  display: flex;
  padding: 2.8em 2.5em;
  align-items: center;
  flex: 0 0 auto;
}

.book-link {
  font-size: 4rem;
}

.en-link {
  font-size: 2rem;
}







/* #################### Mid Section ######################## */
.mid-section {
  padding: 2rem;
}

/* ######################### Footer ################################ */
.footer {
  padding: 2rem;
}

/* ########################### Responsive Layout ###################### */

/* logo size transitions */
/* @media (max-width: 420px) {
  .header .navbar .logo {
    font-size: 4.7rem;
    transition: font-size 0.8s ease-in;
  }
}

@media (max-width: 410px) {
  .header .navbar .logo {
    font-size: 4.3rem;
    transition: font-size 0.8s ease-in;
  }
}

@media (max-width: 395px) {
  .header .navbar .logo {
    font-size: 4rem;
    transition: font-size 0.8s ease-in;
  }
}

@media (max-width: 385px) {
  .header .navbar .logo {
    font-size: 3.7rem;
    transition: font-size 0.8s ease-in;
}
}

*/


/* for the right links */
@media (max-width: 760px) {
  .book-link {
    font-size: 3rem;
  }

  .en-link {
    font-size: 1.5rem;
  }
}