* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
  color: white;
  font-style: italic;
}

body {
  min-height: 100vh;
  background-image: url('../images/image2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  height: 1.9rem;
  width: 1.5rem;
  transform: skew(-10deg);
  /* this skews the image by 10 degrees along the X-axis.  */
  cursor: pointer;
}

h3 {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 5rem;
  text-align: center;
}

/*  *************utility class************* */
.nav-list {
  display: inline-block;
  padding-right: 1em;
}

.section {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.bg-black {
  background-color: black;
}

/* ############################# Container ######################## */
.container {
  display: grid;
  grid-template-rows: minmax(150px, auto) minmax(600px, auto) minmax(300px, auto);
}


/*  ********************************** Header *************************************** */
.header .navbar {
  font-style: italic;
  border: 4px solid white;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50;
  width: 100%;
  /* z-index: 0; */
}

/*  left side of the navbar */
.header .navbar .logo {
  font-size: 5rem;
  padding-left: 0.2em;
  padding-top: 0.5em;
}

/*  right side of the navbar  */
.right-links {
  display: flex;
  padding: 2.8em 2.5em;
  align-items: center;
}

.book-link {
  font-size: 4rem;
}

.en-link {
  font-size: 2rem;
}
















/* #################### Mid Section ######################## */
.mid-section {
  padding: 2rem;
}

/* ######################### Footer ################################ */
.footer {
  padding: 2rem;
}

/* ########################### Responsive Layout ###################### */

@media (max-width: 380px) {
  .navbar {
    flex-direction: column
  }

  /* .logo{
    flex-shrink: ;
  } */
}