* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/image2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
.book-link,
.en-link,
a {
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.navbar {
  border: 2px solid white;
  height: 90px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  /* position: absolute */
}

.navbar::after {
  content: '';
  display: block;
  clear: both;
}

h1 {
  font-size: 55px;
}

.book-link,
.en-link {
  font-size: 30px;
}

/* Style the main list */
.right-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  /* position: relative; */
  /* top: 25px; */
  display: flex;
  justify-content: flex-end;

}

/* Style for individual list items */
.right-links li {
  position: relative;
  /* Required for positioning the dropdown */
  padding: 10px;
  text-transform: uppercase;
}

/* Style the dropdown menu */
.dropdown {
  display: none;
  /* Hide dropdown by default */
  position: absolute;
  top: 100%;
  /* Position dropdown below the parent list item */
  right: 30px;
  /* removing default settings of list */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style for dropdown list items */
.dropdown li {
  padding: 8px;
}

.dropdown:hover {
  background-color: black;
  cursor: pointer;
}

/* Style links inside dropdown */
.dropdown li a {
  text-decoration: none;
  color: white;
}

/* Show dropdown when hovering over the parent li */
.en-link:hover .dropdown {
  display: block;
  /* display: inline; */
}

p {
  color: white;
}