* {
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  /* which is 10px, 16px = 100% */
  font-family: sans-serif;
  color: black;
}

.navbar {
  font-style: italic;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 5.5rem;
}

ul li {
  font-size: 3.5rem;
  list-style: none;
}