* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
  color: white;
  font-style: italic;
  text-transform: uppercase;

}

body {
  min-height: 100vh;
  background-image: url('../images/image2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); */
}

ul li {
  list-style: none;
  cursor: pointer;
}

img {
  display: inline-block;
  height: 1.9rem;
  width: 1.5rem;
  transform: skew(-10deg);
  /* this skews the image by 10 degrees along the X-axis.  */
  cursor: pointer;
}

h3 {
  font-size: 6rem;
  text-align: center;
}

h4 {
  font-size: 5rem;
  text-align: center;
}

/*  *************utility class************* */
.nav-list {
  display: inline-block;
  padding-right: 1em;
}

.section {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.li-padding {
  padding: 0.4em;
}

/* ############################# Container ######################## */
.container {
  display: grid;
  grid-template-rows: minmax(150px, auto) minmax(600px, auto) minmax(300px, auto);
}


/*  ********************************** Header *************************************** */
.header .navbar {
  font-style: italic;
  /* border: 4px solid white; */
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/*  left side of the navbar */
.header .navbar .logo {
  /* font-size: calc(3vw + 2rem); */
  font-size: 5rem;
  text-align: center;
  padding-top: 0.5em;
  /* border: 2px solid blue; */
  flex-basis: 210px;
}

/*  right side of the navbar  */
.right-links {
  padding: 3em 2.8em;
  z-index: 4;
  /* border: 2px solid red; */
  /* flex-shrink: 0; */
  /* display: flex; */
  /* align-items: center; */
}

.book-link {
  font-size: 4rem;
}

.en-link {
  font-size: 1.7rem;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -15px;
  padding: 0.5em;
  z-index: 1;
  border-radius: 0.1em;
  margin-top: 0.2em;
}

.en-link:hover .dropdown {
  display: inline-block;
}

.dropdown:hover {
  background-color: blue;
}

/*  ########### Menu ############## */
.home-menu {
  background: black;
  font-size: 3.5rem;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: .3s ease;
  z-index: 3;
  padding-top: 3.5em;
  padding-left: 1.5em;
  transform: skew(-15deg);
  /* transform-origin: top right; */
  overflow: hidden;
}

.home-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  transform: skew(-20deg);
  transform-origin: top right;
  z-index: -1;
}

.home-menu.active {
  right: 0;
}


.ham-menu {
  height: 3em;
  width: 3.5em;
  position: relative;
  transform: skew(-15deg);
}

.ham-menu span {
  height: 0.7em;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}


.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}



/* ########################### Responsive Layout ###################### */

/* logo size transitions */
/* @media (max-width: 420px) {
  .header .navbar .logo {
    font-size: 4.7rem;
    transition: font-size 0.8s ease-in;
  }
}

@media (max-width: 410px) {
  .header .navbar .logo {
    font-size: 4.3rem;
    transition: font-size 0.8s ease-in;
  }
}

@media (max-width: 395px) {
  .header .navbar .logo {
    font-size: 4rem;
    transition: font-size 0.8s ease-in;
  }
}

@media (max-width: 385px) {
  .header .navbar .logo {
    font-size: 3.7rem;
    transition: font-size 0.8s ease-in;
}
}

*/


/* for the right links */
@media (max-width: 760px) {

  .header .navbar .logo {
    flex-shrink: 2;
    /* font-size: 4rem; */
    /* font-size: calc(1vw + 0.5rem); */
  }

  /* 
  .right-links {
    flex-shrink: 0;
  } */

  .book-link {
    font-size: 3rem;
  }

  .en-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .header .navbar {
    background-color: black;
  }
}