* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  border: 2px solid red;
  margin: 100px auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, 150px);
  /* using fr instead of percentage helps the items to remain inside the container(like a border-box) */
  grid-auto-rows: 100px;
  gap: 10px;

  /* align-items: center;
  justify-items: center; */

  /* place-items: start start; */

  /* align-content: center;
  justify-content: center; */
  /* place-content: center start; */

}

.item1 {
  place-self: end end;
}

.item {
  background: rgba(0, 0, 255, 0.61);
  color: #ffff;
  padding: 10px;
  border: 2px solid black;
}