* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  border: 2px solid red;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* using fr instead of percentage helps the items to remain inside the container(like a border-box) */
  gap: 10px 40px;
}

.item {
  background: rgba(0, 0, 255, 0.61);
  color: #ffff;
  padding: 10px;
  border: 2px solid black;
}